<div class="editor-row">
	<!-- <div class="section gf-form-group">
		<h5 class="section-heading">Country Border setting</h5>
		<div class="gf-form">
			<label class="gf-form-label">Color</label>
	        <span class="gf-form-label">
	            <spectrum-picker ng-model="ctrl.panel.countryBoundary" ng-change="ctrl.render()"></spectrum-picker>
	        </span>
		</div>
	</div> -->
	<div class="section gf-form-group">
		<h5 class="section-heading">Ocean Setting</h5>
		<gf-form-switch class="gf-form" label="Ocean Color" label-class="width-10" checked="ctrl.panel.oceanEnable"
			on-change="ctrl.render()">
		</gf-form-switch>
		<div class="gf-form">
			<label class="gf-form-label">Color</label>
			<span class="gf-form-label">
				<spectrum-picker ng-model="ctrl.panel.ocean" ng-change="ctrl.render()"></spectrum-picker>
			</span>
		</div>
	</div>
	<div class="section gf-form-group">
		<h5 class="section-heading">Boundary</h5>
		<gf-form-switch class="gf-form" label="Boundary Color" label-class="width-10"
			checked="ctrl.panel.boundaryEnable" on-change="ctrl.render()">
		</gf-form-switch>
		<div class="gf-form">
			<label class="gf-form-label">Stroke Color</label>
			<span class="gf-form-label">
				<spectrum-picker ng-model="ctrl.panel.boundaryStroke" ng-change="ctrl.render()"></spectrum-picker>
			</span>
		</div>
		<div class="gf-form">
			<label class="gf-form-label">Fill Color</label>
			<span class="gf-form-label">
				<spectrum-picker ng-model="ctrl.panel.boundaryFill" ng-change="ctrl.render()"></spectrum-picker>
			</span>
		</div>
	</div>
	<div class="section gf-form-group">
		<h5 class="section-heading">Font Setting</h5>
		<gf-form-switch class="gf-form" label-class="width-14" label="Adjustable Font Size"
			tooltip="Font size adjust with window size" checked="ctrl.panel.adjFontSize" on-change="ctrl.render()">
		</gf-form-switch>
		<!-- <div class="gf-form max-width-17" ng-if="!ctrl.panel.adjFontSize">
      		<label class="gf-form-label width-9">Font size</label>
      		<div class="gf-form-select-wrapper max-width-16">
        		<select class="gf-form-input" ng-model="ctrl.panel.FontSize" ng-options="f for f in ctrl.fontSizes" ng-change="ctrl.render()"></select>
      		</div>
    	</div> -->
		<div class="gf-form max-width-17">
			<label class="gf-form-label width-9">Font size</label>
			<div class="gf-form-select-wrapper max-width-16">
				<select class="gf-form-input" ng-model="ctrl.panel.FontSize"
					ng-options="f.text as f.text for f in ctrl.fontCalc" ng-change="ctrl.render()"></select>
			</div>
		</div>
	</div>
	<div class="section gf-form-group">
		<h5 class="section-heading">Threshold Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Colors</label>
			<spectrum-picker class="gf-form-input width-3" ng-repeat="color in ctrl.panel.colors track by $index"
				ng-model="ctrl.panel.colors[$index]" ng-change="ctrl.render()"></spectrum-picker>
		</div>
	</div>
	<div class="section gf-form-group">
		<h5 class="section-heading">Card Basic Setting</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Card Width</label>
			<div class="gf-form-select-wrapper max-width-16">
				<select class="gf-form-input" ng-model="ctrl.panel.cardwidth"
					ng-options="f.text as f.text for f in ctrl.cardWidthList" ng-change="ctrl.render()"></select>
			</div>
		</div>
	</div>
	<!-- <div class="section gf-form-group">
		<h5 class="section-heading">River setting</h5>
		<div class="gf-form">
			<label class="gf-form-label">Color</label>
	        <span class="gf-form-label">
	            <spectrum-picker ng-model="ctrl.panel.river" ng-change="ctrl.render()"></spectrum-picker>
	        </span>
		</div>
    </div> -->
</div>

<div class="editor-row">
	<h5 class="section-heading">Card Setting</h5>
	<div class="gf-form-group" ng-repeat="card in ctrl.panel.cards track by $index">
		<div class="section">
			<div class="gf-form-inline">
				<div class="gf-form">
					<label class="gf-form-label width-10">Title</label>
					<input type="text" class="input-small gf-form-input width-10" ng-model="card.title"
						ng-change="ctrl.render()" ng-model-onblur />
				</div>
				<div class="gf-form">
					<label class="gf-form-label width-10">Location</label>
					<div class="gf-form-select-wrapper">
						<select class="gf-form-input" ng-model="card.location"
							ng-options="c for c in ctrl.panel.locationList" ng-change="ctrl.render()"></select>
					</div>
				</div>
				<div class="gf-form">
					<label class="gf-form-label width-10">Addlink</label>
					<input type="text" class="input-small gf-form-input width-10" ng-model="card.link"
						ng-change="ctrl.render()" ng-model-onblur />
				</div>
				<div class="gf-form">
					<label class="gf-form-label">Circle Color</label>
					<span class="gf-form-label">
						<spectrum-picker ng-model="card.circleColor" ng-change="ctrl.render()"></spectrum-picker>
					</span>
				</div>
				<gf-form-switch class="gf-form" label="Side Display" label-class="width-10" checked="card.sideDisplay"
					on-change="ctrl.render()">
				</gf-form-switch>
				<!--<gf-form-switch class="gf-form" label="Thresholds" label-class="width-10"
			  			checked="card.thresholdsOption" on-change="ctrl.render()">
				</gf-form-switch>-->
				<div class="gf-form">
					<label class="gf-form-label width-10">Thresholds Value</label>
					<input type="text" class="input-small gf-form-input width-10" ng-model="card.thresholdsValue"
						ng-change="ctrl.map.updatethresholdsOption(card);ctrl.render();" placeholder="0,10"
						ng-model-onblur />
				</div>
				<div class="gf-form" ng-if="card.thresholdsOption">
					<label class="gf-form-label">Thresholds label</label>
					<div class="gf-form-select-wrapper">
						<select class="gf-form-input" ng-model="card.thresholdsLabel"
							ng-options="idx as t for (idx,t) in card.thresholdstmp.concat('always')"
							ng-change="ctrl.render()"></select>
					</div>
				</div>
				<div class="gf-form" ng-if="card.thresholdsOption">
					<label class="gf-form-label" ng-if="card.thresholdsOption">Thresholds Data</label>
					<div class="gf-form-select-wrapper">
						<select class="gf-form-input" ng-model="card.thresholdsDataTag"
							ng-options="c.text as c.text for c in card.data" ng-change="ctrl.render();"></select>
					</div>
				</div>
				<div class="gf-form">
					<label class="gf-form-label">Circle Value</label>
					<div class="gf-form-select-wrapper">
						<select class="gf-form-input" ng-model="card.circleValue"
							ng-options="c.text as c.text for c in card.data" ng-change="ctrl.render()"></select>
					</div>
				</div>
			</div>
			<!-- <div class="editor-row">
				<button class="btn btn-inverse" ng-click="ctrl.addCardItem($index)"><i class="fa fa-plus"></i> Add card item</button>
			</div> -->
			<div class="gf-form-group" ng-repeat="cardItem in card.cardItems">
				<div class="gf-form-inline">
					<div class="gf-form">
						<label class="gf-form-label width-10">Item Title</label>
						<input type="text" class="input-small gf-form-input width-10" ng-model="cardItem.name"
							ng-change="ctrl.render()" ng-model-onblur />
					</div>
					<div class="gf-form">
						<label class="gf-form-label">Type</label>
						<div class="gf-form-select-wrapper">
							<select class="gf-form-input" ng-model="cardItem.type"
								ng-options="c.value as c.text for c in ctrl.cardTypes"
								ng-change="ctrl.render()"></select>
						</div>
					</div>
					<div class="gf-form" ng-if="cardItem.type === 'info'">
						<label class="gf-form-label">Value</label>
						<input type="text" class="input-small gf-form-input width-10" ng-model="cardItem.value"
							ng-change="ctrl.render()" ng-model-onblur />
					</div>
					<div class="gf-form" ng-if="cardItem.type === 'data'">
						<label class="gf-form-label">Data</label>
						<div class="gf-form-select-wrapper">
							<!--select class="gf-form-input" ng-model="cardItem.value" ng-options="c.value as c.text for c in card.data" ng-change="ctrl.render()"></select!-->
							<select class="gf-form-input" ng-model="cardItem.dataIndex"
								ng-options="c.index as c.text for c in card.data"
								ng-change="ctrl.map.addDataTag(card.data,cardItem);ctrl.render()"></select>
						</div>
					</div>
					<div class="gf-form" ng-if="cardItem.type === 'data'">
						<label class="gf-form-label width-10">Decimals</label>
						<input type="text" class="input-small gf-form-input width-10" ng-model="cardItem.decimals"
							ng-change="ctrl.render()" ng-model-onblur />
					</div>
					<div class="gf-form" ng-if="cardItem.type === 'data'">
						<label class="gf-form-label width-10">Postfix</label>
						<input type="text" class="input-small gf-form-input width-10" ng-model="cardItem.postfix"
							ng-change="ctrl.render()" ng-model-onblur />
					</div>
					<div class="gf-form" ng-if="cardItem.type !== 'caption'">
						<label class="gf-form-label width-10">Addlink</label>
						<input type="text" class="input-small gf-form-input width-10" ng-model="cardItem.link"
							ng-change="ctrl.render()" ng-model-onblur />
					</div>
					<span class="gf-form-label width-3"><i class="fa fa-remove pointer"
							ng-click="ctrl.deleteCardItem($parent.$index,$index)"></i></span>
				</div>
			</div>
			<div class="editor-row">
				<button class="btn btn-inverse" ng-click="ctrl.addCardItem($index)"><i class="fa fa-plus"></i> Add card
					item</button>
			</div>
		</div>
		<div class="section">
			<div class="gf-form">
				<button class="btn btn-inverse gf-form-btn" ng-click="ctrl.removeCard($index)"><i
						class="fa fa-trash"></i> Remove Card</button>
			</div>
		</div>
	</div>
</div>
<div class="editor-row">
	<button class="btn btn-inverse" ng-click="ctrl.addCard();ctrl.render()"><i class="fa fa-plus"></i> Add Card</button>
</div>